h1 {
    color: rgb(0, 0, 0);
    border: 5px solid blanchedalmond;
    margin: 30px;
    border-radius: 25px;
    padding: 10px ;
    
}

h2 {
    color: black;
    border: 5px solid rgb(19, 0, 87);
    border-radius: 20px;



}
body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.marazulseguros.com.br%2FGIFs-Get-the-best-GIF-on-GIPHY-2856991.html&psig=AOvVaw3DA0fxP6IupvivE0NIDEdL&ust=1709413957805000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMiS0aX904QDFQAAAAAdAAAAABAR);
}
body {
    background-color: aliceblue;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    width: 1000px;
    height: 160px;
    
}
p{
    color: blue;

}
#vermelho{
    color: rgb(56, 42, 165);
}
