.conter{
    text-align: center;
    margin: auto;
    width: 50%;
    opacity: 0.90;
    display: block;
    text-decoration:none;
    background-color:darkgray ;
    font-size: 25px;
    
}
.conter {
    color:black;
}



.conter h1 {
    color:aliceblue ; 
    border: 5px solid saddlebrown;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    
}

h2 {
    color: black;
    border: 5px solid saddlebrown;
    border-radius: 20px;



}
body{
    background-image: url(../img/15877412015ea302117eb45_1587741201_3x2_md.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

}



