.conter{
    text-align: center;
    margin: auto;
    
}




h1 {
    color: rgb(0, 0, 0);
    border: 5px solid darkred;
    margin: auto;
    border-radius: 25px;
    text-align: center
    
}

h2 {
    color: black;
    border: 5px solid rgb(19, 0, 87);
    border-radius: 20px;



}
body{
    background-image: url(../img/15877412015ea302117eb45_1587741201_3x2_md.jpgb);
    background-repeat:no-repeat;
    background-position: center;
    
}
body {
    background-color: aliceblue;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    width: 1000px;
    height: 160px;
    
}


