.header {
    background-color: #333; 
    color: #fff; 
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    width: 100%;
}
#nana, h1{
    color: var(--cor3);
}
#nana {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.botao {
    background-color: #e63946; /* Vermelho */
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover {
    background-color: #d62839;
}