:root{
    --cor1:orange;
    --cor2:#2f86d6;
    --cor3:yellow;
    --cor4:gray;
    --cor5:white;
    --cor6:green;
    --cor7:black;

}


h1,p{
    text-align: center;
    margin: 20px 500px 20px 500px ;
    font-size: 25px;
    color: black;
}
